.nav {
  background-color: orangered;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav :global(.active) {
  background-color: yellow;
}
:global(.test) {
  background-color: red;
}
